# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/

# Virtualenv
.venv/
venv/

# Environment
.env

# Django
*.log
local_settings.py
staticfiles/
media/

# Databases
*.sqlite3

# Testing / coverage
.coverage
.coverage.*
htmlcov/
.pytest_cache/

# Editors / OS
.vscode/
.idea/
.DS_Store

# Docker
docker-compose.override.yml
